body {
  font-family: "Raleway", sans-serif;
  background-image: url(/assets/img/fondo-patas.jpg);
  }

/* Hero Section */

#Hero-Section {
  background-color: rgb(59, 50, 6);
  background-image: url(/assets/img/mango-bg.jpg);
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }

}

.namecolor {
  color: white;
}